body {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚀</text></svg>")
      16 0,
    auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  background-image: url("Images/backgroundimage.webp");
  background-color: lightblue;
}

* {
  cursor: inherit;
}
h1 {
  color: #c1ac6a;
  text-align: center;
  position: absolute;
  top: 35%;
  right: 30%;
  font-size: 50px;
}

h2 {
  color: #c1ac6a;
  text-align: center;
  position: absolute;
  top: 45%;
  right: 13%;
  font-size: 40px;
}
