p {
  width: 200px;
  background-color: #58eb34;
  padding: 20px;
  border: 3px solid black;
  margin: 50px;
}

h1 {
  text-align: center;
  color: lightgreen;
}

body {
  background-color: #6c88d4;
}
